
.paragraph--mobile {
    text-align: center;
    @apply text-primary-dark;
    @apply font-Proxima;
    font-size: clamp(8px,3.73824vw,32px);
    font-style: normal;
    font-weight: 200;
    line-height: normal; 
}