.container {
    @apply bg-primary-bggrey;
    width: 100wv;
    height: clamp(132px,61.68096vw,528px);
    overflow-x: hidden;
    overflow-y: hidden;

    &__images {
        position: relative;
        &_small_ellipse {
            position: absolute;
            top: 0;
            left: clamp(20px,9.3456vw,80px);
        }

        &_taste {
            position: absolute;
            left:clamp(14px,6.541919999999999vw,56px);
            top: clamp(16.5px,7.71012vw,66px);
        }

        &_bread {
            position: absolute;
            left: clamp(28px,13.083839999999999vw,112px);
            top: clamp(5px,2.3364vw,20px);
            z-index: 1;
        }

        &_big_ellipse {
            position: absolute;
            left: clamp(132.5px,61.91459999999999vw,530px);
        }

        &_wheat{
            position: absolute;
            left: clamp(152.5px,71.2602vw,610px);
        }
    }
}