---
// import styles from 
import {AdvantageBlock} from '@entities/AdvantageBlock/index'

import Muka from '@assets/Advantages/muka.webp'

---

<section class="mt-8">
    <h1>Наши преимущества</h1>
    <AdvantageBlock picture={Muka} heading='В нашей пекарне' paragraph='каждое изделие создается вручную настоящими мастерами своего дела. Это не только гарантирует высокое качество и неповторимый вкус продукции, но и придает ей особенный характер и уникальность.' paragraphType='mobile' advantageBlockType='muka-mobile' margin='mt-5' paragraphMargin='mt-3'/>
</section>