@import "./_variables.scss";


@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
      $breakpoint-value: map-get($breakpoints, $breakpoint);
  
      @media (min-width: $breakpoint-value) {
        @content;
      }
    } @else {
      @warn "Unknown breakpoint: #{$breakpoint}";
    }
  }

  
