@import "./_variables.scss";


@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
      $breakpoint-value: map-get($breakpoints, $breakpoint);
  
      @media (min-width: $breakpoint-value) {
        @content;
      }
    } @else {
      @warn "Unknown breakpoint: #{$breakpoint}";
    }
  }

  @mixin customFadeIn($delay) {
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-delay: $delay;
    animation-fill-mode: both;
  
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
  
