@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h1 {
    color:  #444;
    text-align: center;
    font-size: clamp(10px,4.6728vw,40px);
    font-style: normal;
    font-weight: 600;
    line-height: normal; 
    @apply font-Proxima;
}