---
import { HeaderMobile } from '@features/HeaderMobile/index'
import MainMobile from '@widgets/Screens/MainMobile/index.astro'
import Advantages from '@widgets/Screens/Advantages/index.astro'
import '@shared/styles/gloabal.scss'

import Layout from '../layouts/Layout.astro'

import styles from './styles/Home/styles.module.scss'
---

<Layout
	title=""
	description=""
>
	<main class={styles.main__mobile} id="main-mobile">
		<HeaderMobile client:load />
		<MainMobile />
		<Advantages/>
	</main>
</Layout>
