---
import { Header } from '@features/Header/index'

import Layout from '../layouts/Layout.astro'

import styles from './styles/Home/styles.module.scss'
---

<Layout
	title=""
	description=""
>
	<main class={styles.main} id="main">
		<Header client:load />
	</main>
</Layout>
