---
import { HeaderMobile } from '@features/HeaderMobile/index'
import MainMobile from '@widgets/Screens/MainMobile/index.astro'

import Layout from '../layouts/Layout.astro'

import styles from './styles/Home/styles.module.scss'
---

<Layout
	title=""
	description=""
>
	<main class={styles.main__mobile} id="main-mobile">
		<HeaderMobile client:load />
		<MainMobile />
	</main>
</Layout>
