.container {
    @apply mt-8;
    width: 100vw; 
    overflow-x: hidden;
    overflow-y: hidden;

    &__images {
        position: relative;
        overflow-x: hidden;
        overflow-y: hidden;

        &_small_ellipse {
            position: absolute;
            left: clamp(20px, 9.3456vw, 80px);
        }

        &_bread {
            position: absolute;
            left: clamp(28px, 13.08384vw, 112px);
            top: clamp(5px,2.3364vw,20px);
            z-index: 1;
            width:clamp(160px,74.7648vw,640px);
        }

        &_big_ellipse {
            position: absolute;
            left: clamp(132.5px, 61.9146vw, 530px);
        }

        &_wheat {
            position: absolute;
            left: clamp(152.5px, 71.2602vw, 610px);
        }
    }
}
